.leftArrow{
    height: 60px;
    margin-right: 900px;
    margin-top: 200px;
    position: fixed;
}

.rightArrow{
    height: 60px;
    margin-left: 900px;
    margin-top: 200px;
    position: fixed;
  

}

