

.task-board {
  position: relative;
  width: calc(var(--hd-width) * 0.3);
  height: calc(var(--hd-height) * (7/15));
  margin-left: calc(var(--hd-width) * 0.025);
  margin-right: calc(var(--hd-width) * 0.025);
}

.task-board-background {
  position: absolute;
  top: 10px;
  left: 10px;
}

.task-board-frame {
  position: absolute;
}

.tasks-list {
  display: grid;
  grid-template-rows: repeat(12, 22px);
  width: 352px;
  height: 264px;
  position: absolute;
  top: 10px;
  left: 16px;
  overflow-x: hidden;
  -ms-overflow-style: none; /* Hide scrollbar for IE and Edge */
  scrollbar-width: none; /* Hide scrollbar for Firefox */
}

.task-board-bar {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
  width: calc(var(--hd-width) * 0.3);
  height: calc(var(--hd-height) * (1/15));
  position: absolute;
  bottom: 0;
}

#ongoing-tasks-button, #completed-tasks-button {
  width: 128px;
  height: 32px;
  margin-left: 32px;
  margin-right: 32px;
  border-radius: 4px;
}