

.list-setting {
  display: grid;
  width: 208px;
  height: 192px; /* height: 156px; */
  grid-template-rows: repeat(3, auto); /* grid-template-rows: repeat(2, auto); */
  align-items: center; /* Center vertically */
}

.list-label {
display: flex;
width: calc(var(--hd-width) * 0.15);
height: calc(var(--hd-height) * (1/15));
align-items: center; /* Center vertically */
justify-content: center; /* Center horizontally */
}

.list-box {
  position: relative;
  width: 192px;
  height: 108px;
}

.list-box-background {
  position: absolute;
  top: 10px;
  left: 10px;
}

.list-box-frame {
  position: absolute;
}

.list-box-names {
  display: grid;
  grid-template-rows: repeat(4, 22px);
  height: 88px;
  width: 160px;
  position: absolute;
  top: 10px;
  left: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.party-member-name { /* Fix name */
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 22px;
  font-size: 14px;
}

.party-buttons {
  display: grid;
  grid-template-columns: repeat(2, 96px);
  width: 192px;
  height: 32px;
  align-items: center; /* Center vertically */
  justify-items: center; /* Center horizontally */
}

#add-to-party, #remove-from-party {
    width: 64px;
    height: 24px;
    margin: 0px;
}