

.skills-box {
  display: grid;
  position: absolute;
  grid-template-columns: repeat(2, 96px);
  top: calc(var(--hd-height) * (2/15));
}

#left-skills-box {
  left: 0;
  right: 50%;
}

#right-skills-box {
  left: 50%;
  right: 0;
}

.skill-label {
    height: 22px;
    margin-top: 7px;
    margin-bottom: 7px;
    align-items: center; /* Center vertically */
}

.skill-value {
    height: 22px;
    margin-top: 7px;
    margin-bottom: 7px;
    left: calc(var(--hd-height) * (1/18));
    align-items: center; /* Center vertically */
    text-align: center;
}