    .wrapper {
        display: flex;
        flex-direction: column;
        position: absolute;
        width: 100%;
        right: 0;
        left: 0;
        top: 0;

        overflow-x: hidden;
        scrollbar-width: none;
        -ms-overflow-style: none;
    
    }

    .wrapper::-webkit-scrollbar {
        display: none;
    }


   .introduction{
        height: 600px;
        width: 100%;
        background-color: rgb(104, 104, 104);
    
    }

    .project1{
        height: 1200px;
        width: 100%;
        background-color: rgb(219, 219, 219);
      
    } 
    .project2{
        height: 1200px;
        width: 100%;
        background-color: rgb(36, 36, 36);
    } 
   
   


    @media (max-width: 768px){

    }